{{ define "main" }}
<nav class="breadcrumb">
  <a href="{{ .CurrentSection.RelPermalink }}" class="crumb">{{ .CurrentSection.Title }}</a>
  <a href="{{ .RelPermalink }}" class="crumb current">{{ .Title }}</a>
</nav>
<h1>{{ .Title }}</h1>
{{ if ne .Params.youtube_id "" }}
  {{ partial "youtube.html" (dict "id" .Params.youtube_id) }}
{{ else }}
<div class="video-container">
  <iframe src="https://www.youtube.com/embed/live_stream?channel=@BadWebsiteClub" allowfullscreen="" allow="
      accelerometer;
      autoplay;
      clipboard-write;
      encrypted-media;
      gyroscope;
      picture-in-picture;
    " loading="lazy" title="YouTube video player"></iframe>
</div>
{{ end }}
<div class="metadata-container">
<p>{{ .Date | time.Format ":date_medium" }} 3pm UTC
  <a href="https://time.unitarium.com/utc/1500"
    >(Check your timezone)</a
  >
</p>
{{ with .Params.lesson_type }}
  {{ range . }}
    <span class="lesson-type {{ . | urlize }}">{{ . | humanize }}</span>
  {{ end }}
{{ end }}
</div>
<p>Instructors: {{ delimit (.Params.instructors) ", " ", and " }}</p>
{{ range (.GetTerms "unit") }}
<p>{{ .Name }}</p>
{{ end }}
<div class="lesson-actions">
{{ with .Params.fcc_lesson_url }}
<a href="{{ . }}" class="fcc-lesson-link">Primary FreeCodeCamp lesson URL</a>
{{ end }}
{{ $bootcampSlug := "" }}
{{ with .CurrentSection.Parent.File }}
  {{ $bootcampSlug = .ContentBaseName }}
{{ end }}
{{ $lessonSlug := "" }}
{{ with .File }}
  {{ $lessonSlug = .ContentBaseName }}
{{ end }}
{{ if gt (len (findRE "^[0-9]{4}-[0-9]{2}-[0-9]{2}$" $lessonSlug)) 0 }}
<a href="{{ printf "calendars/%s/%s.ics" $bootcampSlug $lessonSlug | relURL }}" class="fcc-lesson-link">Download iCal File</a>
{{ end }}
</div>
{{ .Content }}
<div class="bottom-navigation">
{{ with .PrevInSection }}
  <a href="{{ .RelPermalink }}" class="prev">Prev: {{ .Title }}</a>
{{ end }}
{{ with .NextInSection }}
  <a href="{{ .RelPermalink }}" class="next">Next: {{ .Title }}</a>
{{ end }}
</div>
{{ end }}
