{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ range (.GetTerms "lesson_type") }}
<div class="metadata-container">
<p>{{ .Date | time.Format ":date_medium" }} {{ .Date | time.Format
    ":time_medium" }}
  <a href="{{ .Params.etz_url }}"
    >(Check your timezone)</a
  >
</p>
<span class="lesson-type {{ .Name }}">{{ .Name }}</span>
</div>
{{ end }}
{{ range (.GetTerms "instructors") }}
<p>{{ .Name }}</p>
{{ end }} {{ range (.GetTerms "unit") }}
<p>{{ .Name }}</p>
{{ end }}
<h2><a href="{{ .Params.fcc_lesson_url }}">FreeCodeCamp lesson URL</a></h2>
<h2>Recording</h2>
{{ if ne .Params.youtube_id "" }}
  {{ partial "youtube.html" (dict "id" .Params.youtube_id) }} {{ .Content }}
{{ else }}
<div class="video-container">
  <iframe src="https://www.youtube.com/embed/live_stream?channel=@BadWebsiteClub" allowfullscreen="" allow="
      accelerometer;
      autoplay;
      clipboard-write;
      encrypted-media;
      gyroscope;
      picture-in-picture;
    " loading="lazy" title="YouTube video player"></iframe>
</div>
{{ end }}
{{ with .PrevInSection }}
  <a href="{{ .RelPermalink }}">Prev: {{ .Title }}</a>
{{ end }}
{{ with .NextInSection }}
  <a href="{{ .RelPermalink }}">Next: {{ .Title }}</a>
{{ end }}
{{ with .CurrentSection }}
  <p>Part of the <a href="{{ .RelPermalink }}">{{ .Title }}</a> bootcamp</p>
{{ end }}
{{ end }}
