{{ define "main"}}
{{ .Content }}
{{ $sections := .Site.GetPage "section" "bootcamps" }}
{{ $bootcamps := $sections.Sections }}
{{ $now := now }}
{{ $upcoming := where $bootcamps "Params.start_date" ">" $now }}
{{ $sorted := sort $upcoming "Params.start_date" "asc" }}
<h2>Upcoming Bootcamp</h2>
{{ with index $bootcamps 0 }}
<a href="{{ .RelPermalink }}">
   {{ .Title }}
</a>
{{ end }}

<section class="faq">
  <h2>Frequently Asked Questions</h2>

  <details>
    <summary>How much will this cost?</summary>
    It's free, we like teaching and hate handling cash
  </details>

  <details>
    <summary>Really free? How can it be free?</summary>
    Really free. We donate our time because teaching is cool. There's no way
    to pay us.
  </details>

  <details>
    <summary>Will you help me find a job in tech?</summary>
    I'm so sorry that due to the size global distribution of our learners on
    past projects, we've found that we can't offer effective and targeted
    employment support. We'll help you learn the skills, it's up to you to
    decide how and where to apply them.
  </details>

  <details>
    <summary>What if the scheduled times don't work for me?</summary>
    We're really sorry about that! All streams and videos will be available
    on demand and we'll have asynch learner support channels on launch.
  </details>
  <details>
    <summary>This website sucks?</summary>
    Ok, that's not really a question, but we're going to make it suck less,
    together, as we learn.
  </details>
</section>
{{ end }}


