{{ define "main"}}
{{ .Content }}
{{ $sections := .Site.GetPage "section" "bootcamps" }}
{{ $bootcamps := $sections.Sections }}
{{ $now := now }}
{{ $upcoming := where $bootcamps "Params.start_date" ">" $now }}
{{ $sorted := sort $upcoming "Params.start_date" "asc" }}
<section class="upcoming-bootcamp">
<div class="decorations">
  <img src="{{ "decorations/skull.png" | relURL }}" alt="Skull decoration" class="decoration skull">
  <h2>Upcoming Bootcamp</h2>
  <img src="{{ "decorations/moon.png" | relURL }}" alt="Moon decoration" class="decoration moon">
</div>
{{ with index $bootcamps 0 }}
<a href="{{ .RelPermalink }}" class="upcoming-bootcamp-link">
  <span>{{ .Title }}</span>
  <svg width="24px" height="24px" stroke-width="2.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 6L15 12L9 18" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
</a>
{{ end }}
<div class="decorations">
<img src="{{ "decorations/candle.png" | relURL }}" alt="Candle decoration" class="decoration candle">
<img src="{{ "decorations/ghost.png" | relURL }}" alt="Ghost decoration" class="decoration ghost">
<img src="{{ "decorations/magic-glass.png" | relURL }}" alt="Magic glass decoration" class="decoration magic-glass">
</div>
</section>

<section class="faq">
  <h2>Frequently Asked Questions</h2>

  <details>
    <summary>How much will this cost?</summary>
    It's free, we like teaching and hate handling cash.
  </details>

  <details>
    <summary>Really free? How can it be free?</summary>
    Really free. We donate our time because teaching is cool. There's no way
    to pay us.
  </details>

  <details>
    <summary>Will you help me find a job in tech?</summary>
    We're so sorry that due to the size and global distribution of our learners on
    past projects, we've found that we can't offer effective and targeted
    employment support. We'll help you learn the skills, it's up to you to
    decide how and where to apply them.
  </details>

  <details>
    <summary>What if the scheduled times don't work for me?</summary>
    We're really sorry about that! All streams and videos will be available
    on demand and we'll have asynch learner support channels on launch.
  </details>
  <details>
    <summary>This website sucks?</summary>
    Ok, that's not really a question, but we're going to make it suck less,
    together, as we learn.
  </details>
</section>
{{ end }}

