:root {
  --light-red: #f7b3c3;
  --dark-red: #cf0b39;
  --light-pink: #ffd9e8;
  --dark-pink: #9c677d;
  --light-purple: #e2d4f4;
  --purple: #9159d3;
  --dark-purple: #6a2db5;
  --light-blue: #ccdefc;
  --blue: #3984f2;
  --dark-blue: #075cd8;
  --light-green: #d5f5d9;
  --green: #64d970;
  --dark-green: #2e9439;
  --light-orange: #ffe5d3;
  --orange: #ff9e5a;
  --dark-orange: #cd6e2b;
  --logo-w-color: #0B0810;
  --logo-color-purple: #ba6dc6;
  --logo-color-pink: #ff8fab;
}

.crumb {
  padding: .5rem 1.5rem;
  background: var(--light-purple);
  clip-path: polygon(0 0, calc(100% - 14px) 0, 100% 50%, calc(100% - 14px) 100%, 0 100%, 14px 50%);
  color: var(--text-color);
  margin-right: -15px;

  &:first-child {
    clip-path: polygon(0 0, calc(100% - 14px) 0, 100% 50%, calc(100% - 14px) 100%, 0 100%);
  }

  &.current {
    background: var(--light-green);
  }
  &:hover {
    filter: brightness(1.02);
  }
}

summary {
  text-decoration: underline;
}

summary:hover {
  cursor: pointer;
}

.bottom-navigation {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.prev::before {
  content: '← ';
}

.next::after {
  content: ' →';
}

.next {
  margin-left: auto;
}

.faq {
  & details {
    margin-top: 1rem;
  }
}

.metadata-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .lesson-type {
    padding: 0.5rem 1rem;
    border: 2px solid var(--text-color);
    box-shadow: 4px 4px 0 0 var(--text-color);

    &.workshop {
      background-color: var(--light-green);
    }
    &.quiz {
      background-color: var(--light-red);
    }
    &.theory {
      background-color: var(--light-purple);
    }
    &.review {
      background-color: var(--light-pink);
    }
    &.lab {
      background-color: var(--light-orange);
    }
    &.certification-project {
      background-color: var(--light-blue);
    }
  }
}

.fcc-lesson-link {
  border: 2px solid var(--text-color);
  box-shadow: 4px 4px 0 0 var(--text-color);
  padding: 0.5rem 1rem;
  display: inline-block;
  margin: 1rem 0;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 6rem;
  padding: 1rem 2rem;
  border: 6px solid var(--purple);
  border-top-color: var(--logo-color-pink);
  border-left-color: var(--logo-color-pink);
  border-right-color: var(--logo-color-purple);
  border-bottom-color: var(--logo-color-purple);
  align-items: center;
  justify-content: center;
  margin: 0 auto 2rem auto;

  & h1 {
    font-size: initial;
    width: max-content;
    color: var(--logo-w-color);
  }

  & img {
    width: 5rem;
  }

  &:hover {
    text-decoration: none;

    & h1::after {
      width: 100%;
      background-color: var(--text-color);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222831;
    --logo-w-color: var(--text-color);
  }
  .metadata-container {
    .lesson-type {
      &.workshop {
        background-color: var(--dark-green);
      }
      &.quiz {
        background-color: var(--dark-red);
      }
      &.theory {
        background-color: var(--dark-purple);
      }
      &.review {
        background-color: var(--dark-pink);
      }
      &.lab {
        background-color: var(--dark-orange);
      }
      &.certification-project {
        background-color: var(--dark-blue);
      }
    }
  }
  .crumb {
    color: var(--background-color);
  }
}
