:root {
  --bwc-black: #0b0810;
  --bwc-purple: #ba6dc6;
  --light-purple: #e2d4ee;
  --dark-purple: #774ab2;
  --light-pink: #ffd5dd;
  --dark-pink: #9f3958;
  --light-red: #e9bdc6;
  --dark-red: #b72541;
  --light-green: #d5f5d9;
  --dark-green: #326c51;
  --light-orange: #fce5a2;
  --dark-orange: #9e4a00;
  --light-blue: #93e8f5;
  --dark-blue: #186781;
  --light-gray: #f0f0f2;
  --dark-gray: #32363e;
  --logo-w-color: var(--bwc-black);
  --muted-light: #d8d8d9;
  --muted-dark: #464a51;
}

.breadcrumb {
  filter: drop-shadow(2px 0px 0px var(--bwc-black));
}

.crumb {
  padding: 2px 1rem;
  background: var(--light-gray);
  clip-path: polygon(0 0, calc(100% - 14px) 0, 100% 50%, calc(100% - 14px) 100%, 0 100%, 14px 50%);
  color: var(--text-color);
  margin-right: -18px;
  display: inline-block;
  border: 2px solid var(--bwc-black);
  border-right: none;

  &:first-child {
    clip-path: polygon(0 0, calc(100% - 14px) 0, 100% 50%, calc(100% - 14px) 100%, 0 100%);
  }

  &.current {
    background: var(--muted-light);
  }
  &:hover {
    filter: brightness(1.02);
  }
}

summary {
  text-decoration: underline;
}

summary:hover {
  cursor: pointer;
}

.bottom-navigation {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.prev::before {
  content: '← ';
}

.next::after {
  content: ' →';
}

.next {
  margin-left: auto;
}

.faq {
  & details {
    margin-top: 1rem;
  }
}

.metadata-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .lesson-type {
    padding: .25rem 1rem;
    border: 2px solid var(--bwc-black);
    box-shadow: 4px 4px 0 0 var(--bwc-black);
    margin-right: 4px;

    &.workshop {
      background-color: var(--light-green);
    }
    &.quiz {
      background-color: var(--light-red);
    }
    &.theory {
      background-color: var(--light-purple);
    }
    &.review {
      background-color: var(--light-pink);
    }
    &.lab {
      background-color: var(--light-orange);
    }
    &.certification-project {
      background-color: var(--light-blue);
    }
  }
}

.fcc-lesson-link {
  border: 2px solid var(--bwc-black);
  box-shadow: 4px 4px 0 0 var(--bwc-black);
  background-color: var(--light-gray);
  padding: 0.5rem 1rem;
  display: inline-block;
  margin: 1rem 0;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 8rem;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto 2rem auto;

  & h1 {
    font-size: initial;
    width: max-content;
    color: var(--logo-w-color);
  }

  & img {
    width: 5rem;
  }
    &:hover {
    text-decoration: none;

    & h1::after {
      width: 100%;
      background-color: var(--text-color);
    }
  }
}

.upcoming-bootcamp {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.upcoming-bootcamp-link {
  border: 3px solid var(--text-color);
  box-shadow: 4px 4px 0 0 var(--bwc-purple);
  padding: 1rem;
  display: inline-flex;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-weight: bold;
  color: var(--text-color);

  & svg {
    stroke: var(--text-color);
  }

  &:hover {
    text-decoration: none;
    box-shadow: 4px 4px 0 0 var(--dark-orange), var(--dark-orange) 0 4px 8px, var(--light-purple) 0 7px 13px -3px;
    & svg {
      transform: translateX(20%);
      transition: 0.2s;
    }
    & h1::after {
      width: 100%;
      background-color: var(--text-color);
    }
  }
}

.decorations {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  & h2 {
    font-size: 2rem;
    animation: flicker 2s infinite alternate;
    color: var(--background-color);
    text-shadow: 1px 1px 1rem var(--dark-purple), 0 0 0.5rem var(--bwc-black), 0 0 0.5rem var(--bwc-black);
  }
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
     opacity: 1;
  }
  20%, 24%, 55% {
     opacity: 0.3;
  }
}

.decoration {
  width: 3rem;
  &.magic-glass {
    rotate: 12deg;
    align-self: end;
  }
  &.ghost {
    width: 6rem;
    position: relative;
    top: 1.5rem;
  }
  &.crystal {
    position: relative;
    top: 1rem;
  }
}

.newsletter {
  background-color: var(--light-gray);
  padding: .5rem 2rem;
  display: flex;
  flex-direction: column;
  border: 3px solid var(--bwc-black);
  box-shadow: 4px 4px 0 0 var(--bwc-black);
  margin: 2rem 0;

  & h2 {
    align-self: center;
  }

  & .embeddable-buttondown-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    & p {
      align-self: center;
    }
  }

  & [type="submit"] {
    background-color: var(--light-purple);
    color: var(--text-color);
    font-size: 18px;
    padding: 8px;
    border: 2px solid var(--bwc-black);
    box-shadow: 4px 4px 0 0 var(--bwc-black);

    &:hover {
      cursor: pointer;
      filter: brightness(1.03);
    }
  }
}

#bd-email {
  padding: 8px;
  border: 2px solid var(--bwc-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222831;
    --logo-w-color: var(--text-color);
  }
  .metadata-container {
    .lesson-type {
      &.workshop {
        background-color: var(--dark-green);
      }
      &.quiz {
        background-color: var(--dark-red);
      }
      &.theory {
        background-color: var(--dark-purple);
      }
      &.review {
        background-color: var(--dark-pink);
      }
      &.lab {
        background-color: var(--dark-orange);
      }
      &.certification-project {
        background-color: var(--dark-blue);
      }
    }
  }
  .crumb {
    background: var(--dark-gray);
    &.current {
      background: var(--muted-dark);
    }
  }
  .newsletter {
    background-color: var(--dark-gray);
    & [type="submit"] {
      background-color: var(--dark-purple);
    }
  }
  .decorations {
    & h2 {
      text-shadow: 1px 1px 1rem var(--text-color), 0 0 0.5rem var(--light-purple), 0 0 0.5rem var(--light-purple);
    }
  }
  .fcc-lesson-link {
    background-color: var(--dark-gray);
  }
}

@media (prefers-reduced-motion: reduce) {
  .decorations {
    & h2 {
      animation: none;
    }
  }
}